.container {
    display: flex;
    height: calc(100vh - 60px);
    overflow-y: hidden;

    .chat {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .userPane {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #555;
            cursor: default;

            .otherUser {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                margin: 10px 30px;

                .profileImage {
                    width: 35px;
                    height: 35px;
                    overflow: hidden;
                    border-radius: 50%;
                    user-select: none;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                p {
                    font: 18px Roboto;
                    color: #ccc;
                    margin: 0;
                }
            }

            button {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;
                background-color: transparent;
                border: 1px solid #555;
                border-radius: 7px;
                padding: 5px 10px;
                margin: 10px 30px;
                cursor: pointer;
                user-select: none;
                opacity: 0.7;

                img {
                    width: 12px;
                }

                p {
                    font: 16px Roboto;
                    color: #ccc;
                    margin: 0;
                }

                &:hover {
                    opacity: 1;
                }

                &:active {
                    border: 1px solid #777;
                }
            }
        }

        .messageContainer {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 10px;
            overflow-y: auto;
            height: 100%;
            margin-bottom: 20px;

            &::before {
                content: "";
                margin-top: auto;
            }

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-thumb {
                background: #555;
                border-radius: 10px;
            }

            .message {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 15px;
                max-width: 90%;
                margin: 0 250px 0 250px;
                background-color: transparent;

                .profileImage {
                    width: 30px;
                    height: 30px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 5px 0px;
                    user-select: none;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }

                .content {
                    font: 18px Roboto;
                    color: #ccc;
                    background-color: #181818;
                    padding: 10px 20px;
                    border-radius: 10px;
                    max-width: 50%;
                    margin: 0;
                }

                .time {
                    font: 14px Roboto;
                    color: #999;
                    visibility: hidden;
                    margin-top: 10px;
                    user-select: none;
                }

                &:hover .time {
                    visibility: visible;
                }
            }
        }

        .inputField {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 850px;
            background-color: #181818;
            border: 1px solid #363636;
            border-radius: 12px;
            box-shadow: 0 0 25px #0c0c0c;
            margin: 25px auto;
            transition: all 0.2s;

            &:hover {
                transform: translateY(-2px);
            }

            input[type="text"] {
                font: 18px Roboto;
                color: #ccc;
                background-color: transparent;
                border: none;
                outline: none;
                padding: 5px;
                margin: 5px 20px;
                width: 90%;

                &::placeholder {
                    user-select: none;
                    opacity: 0.5;
                }
            }

            button {
                width: 40px;
                height: 40px;
                opacity: 0.7;
                padding: 10px;
                margin: 0 10px;
                cursor: pointer;
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                user-select: none;

                img {
                    width: 20px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}