.landing {
    position: relative;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 350px;

        img {
            width: 250px;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;

            button {
                width: 100px;
                height: 30px;
                border-radius: 10px;
                border: none;
                font: 16px Roboto;
                background-color: #1a1a1a;
                color: #ccc;
                cursor: pointer;
                transition: all 0.3s;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    box-shadow: 0 0 30px #090909;
                    transform: translateY(-1px);
                }

                &:active {
                    filter: brightness(1.1);
                    transform: translateY(0);
                }
            }
        }
    }
}

.frontContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 220px 350px;
    margin-right: 45%;
    cursor: default;

    h1 {
        font: 48px Timun;
        color: #ccc;
    }

    button {
        width: 300px;
        height: 50px;
        font: 24px Roboto;
        color: #111;
        background-color: var(--green);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s;
        opacity: 0.7;

        &:hover {
            opacity: 1;
            color: #1a1a1a;
            box-shadow: 0 0 30px #090909;
            transform: translateY(-3px);
        }

        &:active {
            filter: brightness(1.1);
        }
    }

    p {
        font: 24px Roboto;
        color: #aaa;
        line-height: 1.5;
    }
}

.object {
    position: absolute;
    top: 200px;
    right: 350px;
    width: 500px;
    mix-blend-mode: screen;
    pointer-events: none;
}