.login {
    position: relative;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 94vh;
        color: #ccc;

        h2 {
            font: 42px Timun light;
            margin: 0px;
        }

        p {
            font: 18px Roboto;
            margin-bottom: 30px;
        }

        .highlight {
            color: var(--green);
            text-decoration: none;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .loginForm {
            width: 400px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                width: 100%;
                padding: 7px 20px;
                border-radius: 8px;
                border: none;
                background-color: #212121;
                border: 2px solid transparent;
                color: #ccc;
                font-size: 16px;
                box-sizing: border-box;

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #212121 inset;
                    color: #ccc;
                }

                &::placeholder {
                    color: #888;
                }

                &:focus {
                    outline: none;
                    border: 2px solid #ccc;
                    box-shadow: 0 0 0 2px #333;
                    transition: border-color 0.3s;
                }
            }

            .passwordWrapper {
                position: relative;
                width: 100%;

                .inputField {
                    width: 100%;
                    padding-right: 40px;
                }

                .eyeIcon {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    opacity: 0.5;
                    user-select: none;
                }

                .eyeIcon img {
                    width: 18px;
                    height: 18px;
                    pointer-events: none;
                }
            }

            .misc {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 14px;
                color: #999;
                margin-top: 15px;
                white-space: nowrap;

                .checkboxContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 7px;
                    cursor: pointer;
                    margin: 0;

                    .checkbox {
                        appearance: none;
                        display: grid;
                        place-content: center;
                        width: 14px;
                        height: 14px;
                        flex: 0 0 16px;
                        min-width: 14px;
                        max-width: 14px;

                        border: 1px solid #555;
                        border-radius: 4px;
                        cursor: pointer;
                        background-color: transparent;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;

                        &:checked {
                            background-color: var(--green);
                            border-color: var(--green);
                            outline: none;

                            &::before {
                                content: "";
                                display: block;
                                width: 14px;
                                height: 14px;
                                background-image: url("../assets/icons/check.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center;
                            }
                        }
                    }

                    label {
                        font: 14px Roboto;
                        color: #999;
                        margin: 0;
                    }
                }

                .highlight {
                    font: 14px Roboto;
                    color: var(--green);
                    margin: 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .loginButton {
                width: 100%;
                padding: 8px;
                border-radius: 10px;
                border: none;
                background-color: var(--green);
                color: #111;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.2s ease;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                    filter: brightness(1.1);
                    transform: translateY(-1px);
                }

                &:active {
                    transform: translateY(0);
                }
            }
        }
    }

    .backButton {
        position: absolute;
        height: 50px;
        top: 50px;
        left: 50px;
        user-select: none;
    }

    .bgImg1,
    .bgImg2 {
        position: absolute;
        height: 100vh;
        z-index: -1;
        pointer-events: none;
        mix-blend-mode: screen;
        overflow: hidden;
        user-select: none;

    }

    .bgImg1 {
        bottom: 0px;
        right: 0px;
    }

    .bgImg2 {
        top: 0px;
        left: 0px;
    }
}