/* ─── Import fonts ──────────────────────────────────────────────── */
@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne.TTF');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('./assets/fonts/BricolageGrotesque.ttf');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/SpaceGrotesk.ttf');
}

@font-face {
  font-family: 'Unbounded';
  src: url('./assets/fonts/Unbounded.ttf');
}

@font-face {
  font-family: 'Northwell';
  src: url('./assets/fonts/Northwell.TTF');
}


/* ─── CSS Variables ─────────────────────────────────────────────── */
:root {
  --font-main: 'Syne', sans-serif;
  --font-body: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'Space Grotesk', monospace;
  --font-wide: 'Unbounded', sans-serif;

  --body: #f0f0f0;

  --green: #00a854;
  --green-dim: #00a8541f;
  --green-glow: #00a85459;
  --red: #b31b1b;

  --blue: #2f78a3;

  --red-soft: #cc3333;
  --red-hover: #cc333314;
  --red-border: #cc333333;
  --red-shade: #cc333308;

  --border: #00000014;
  --bg: #f5f5f5;
  --surface: #ebebeb;
  --hover: #e2e2e2;

  --text-primary: #111111;
  --text-secondary: #444444;
  --text-muted: #888888;
}


::selection {
  background-color: var(--green);
  color: #fff;
}

body {
  background-color: var(--body);
  margin: 0;
}

.my-toast {
  background-color: #ffffff;
  color: #222;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-family: Arial;
  box-shadow: 0 10px 30px #00000018;
  display: flex;
}