@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* ─── Import fonts ──────────────────────────────────────────────── */
@font-face {
  font-family: 'Syne';
  src: url('./assets/fonts/Syne.TTF');
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DMSans.ttf');
}

@font-face {
  font-family: 'DM Mono';
  src: url('./assets/fonts/DMMono.ttf');
}


/* ─── CSS Variables ─────────────────────────────────────────────── */
:root {
  --font-main: 'Syne', sans-serif;
  --font-body: 'Bricolage Grotesque', sans-serif;
  --font-mono: 'Space Grotesk', monospace;
  --font-wide: 'Unbounded', sans-serif;

  --body: #0f0f0f;

  --green: #00e87a;
  --green-dim: #00e87a1f;
  --green-glow: #00e87a59;
  --red: #b31b1b;

  --blue: #2f78a3;

  --red-soft: #e05c5c;
  --red-hover: #e05c5c14;
  --red-border: #e05c5c33;
  --red-shade: #eb424208;

  --border: #ffffff11;
  --bg: #0a0a0a;
  --surface: #121212;
  --hover: #181818;

  --text-primary: #dddddd;
  --text-secondary: #999999;
  --text-muted: #555555;
}


::selection {
  background-color: var(--green);
  color: #111;
}

body {
  background-color: var(--body);
  margin: 0;
}

.my-toast {
  background-color: #111;
  color: #ccc;
  border: 2px solid #888;
  border-radius: 10px;
  font-family: Arial;
  box-shadow: 0 10px 30px #00000055;
  display: flex;
}