.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;

    opacity: 0;
    transition:
        opacity 0.2s ease,
        backdrop-filter 0.2s ease,
        background 0.2s;

    &.show {
        opacity: 1;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }
}

.popup,
.popover,
.dialogue,
.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #151515;
    border: 1px solid #333;
    border-radius: 15px;
    width: 100%;

    transform: translateY(50px) scale(0.7);
    opacity: 0;
    transition:
        transform 0.2s ease-in-out,
        opacity 0.2s ease;

    &.show {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.popup {
    max-width: 450px;
    padding: 25px;
    top: 0%;
}

.popover {
    max-width: 250px;
    padding: 0;
    overflow: hidden;
}

.modal {
    max-width: 450px;
    padding: 25px;
}

.dialogue {
    max-width: 400px;
    padding: 0;
    gap: 0;
}